[submodule "inference/xcodec_mini_infer"]
    path = "inference/xcodec_mini_infer"
    url = https://huggingface.co/m-a-p/xcodec_mini_infer.git
[submodule "dependencies/fadtk"]
	path = dependencies/fadtk
	url = https://github.com/MikolajSzawerda/fadtk.git